.projectblock {
  margin-left: 1rem;
}

.indiproject {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.indiprojectinfo {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-right: 3rem;
}
.indiproject_title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 0.5rem;
}
.indiproject_title h4 {
  padding-right: 1rem;
}
.linkblocks {
  display: flex;
  gap: 1rem;
}
.linkblock {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.5rem;
}

.techstack {
  font-style: italic;
}

.indiprojectimgblock {
  padding: 0.5rem;
  background-color: var(--main-bg-color);
}
.indiprojectimg {
  height: 10rem;
}

@media screen and (max-width: 768px) {
  .indiproject {
    flex-direction: column;
  }
  .indiprojectinfo {
    padding-right: 0;
  }
  .indiprojectimgblock {
    width: fit-content;
  }
  .indiprojectimg {
    height: 9rem;
  }
}
