main {
  margin: 8rem 2rem 2rem 2rem;
}

.indimainblocks {
  padding: 1rem 1.5rem;
  background-color: var(--primary-color);

  margin-bottom: 1.5rem;
}

.primary-border {
  width: fit-content;
  padding: 0.25rem 0.25rem;
  border: 1px solid var(--secondary-text-color);
  border-radius: 0.25rem;
}
.secondary-border {
  background-color: var(--secondary-color);
  height: 1.75rem;
  width: fit-content;
  padding: 0.05rem 0.25rem;
  border: 1px solid var(--secondary-text-color);
  border-radius: 0.25rem;
  box-shadow: var(--mybox-shadow);
}
